<!-- About Start -->

<section
  id="{{ page.section-type }}"
  class="container content-section text-center"
> <div class="container">
      <div class="row">
        <div class="col-md-12 col-md-offset-2">
          <span class="intro-text">{{ content }}</span>
          <h5>&nbsp;</h5>
          <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
            <img
              class="img-me"
src="{{ site.me-img | relative_url }}"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  <div class="row justify-content-center">
    <div class="col-12">{{ page.content | markdownify }}</div>
    <div class="col-md-10 col-12">
      <p class="blurb pt-5">{{ site.author_blurb }}</p>
      <p>About blurb goes here</p>
      </div>
  </div>
</section>

<!-- About End -->
