// Light theme
:root {
  --primary-color: #efe8d5;
  --background-color: #efe8d5;
  --font-color: #151520;
  --font-color-light: #69a6a1;
  --font-color-dark: #151520;
  --font-color-faint-2: rgba(248, 245, 153, 0.2);
  --font-color-faint-3: #e7c04d;
  --secondary-color: #36847b;
  --secondary-dark: #d3a510;
  --secondary-mid: #e1b20a;
  --secondary-half: rgba(244, 229, 89, 0.5);
  --secondary-subtle: rgba(180, 140, 9, 0.05);
}

// Dark theme 
[data-theme="dark"] {
  --primary-color: #151520;
  --background-color: #151520;
  --font-color: #efe8d5;
  --font-color-light: #f3e7c9;
  --font-color-dark: #e3d982;
  --font-color-faint-2: rgba(211, 207, 170, 0.2);
  --font-color-faint-3: #69a6a1;
  --secondary-color: #f6eb98;
  --secondary-dark: #69a6a1;
  --secondary-mid: #77bab2;
  --secondary-half: rgba(71, 181, 183, 0.5);
  --secondary-subtle: rgba(62, 190, 164, 0.08);
}

html {
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}
